/* .my-class {
    background-color: rgb(0, 255, 255);
} */

.selectButtonColor {
  background-color: #0e9f6e;
}

.name {
  color: #09090b;
  font-size: medium;
  font-weight: 450;
  /* letter-spacing: 1px; */
  opacity: 90%;
}
.buttonsDiv {
  /* bottom: 0; */
  /* top: 100%; */
  /* margin-top: 15rem; */
  /* right: 0; */
  /* position: ; */
  
  /* border: 1px solid ; */
  height: 90%;
}
.css-13cymwt-control {
  border-radius: 10px !important;
}
/* .css-1u9des2-indicatorSeparator {
  display: none;
} */
.editCheckbox {
  background-color: #0e9f6e !important;
  color: white;
}
.dropdownMenu{
    /* background-color: #09090b; */

}
.parentDiv{
    width: 300px;
    height: 320px;
}
.input{
  width: 1rem;
  height: 1rem;
  /* accent-color: #84E1BC; */
  /* accent-color:  #58957e; */
  accent-color: #58957e;  
  /* background-color: #0e9f6e !important; */
  /* background-color:  #84E1BC !important; */
  /* color: white !important; */
  /* background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important; */
}
.dropdownMenu:hover {
  background-color: #e3fff5 !important;
  /* border: 0.5px solid rgb(219, 219, 219); */
  /* border: 0.01px solid red; */
  border-radius: 5px;
}
.pointer {
  cursor: pointer;
}

.css-1nmdiq5-menu ,  .css-1n6sfyn-MenuList{
}
#react-select-2-listbox{
  border: 0px   !important;

}
.css-qbdosj-Input {
  /* background-color: #dcdcdc; */
}
.css-1xc3v61-indicatorContainer{
  display: none !important;
}