
/* .selectButtonColor {
  background-color: #0e9f6e !important;
  color: white !important;
}

.name {
  color: #09090b;
  font-size: medium;
  font-weight: 450;
  opacity: 90%;
}

.pointer {
  cursor: pointer;
}
.input{
  accent-color:  #84E1BC !important ;
}

.buttonsDiv {
  height: 90%;
} 
*/


.css-13cymwt-control {
  border-radius: 10px !important;
}

.parentDiv{
    width: 300px ;
    height: 320px;
}

.dropdownMenu {
    padding-left: 2% !important;
    background-color: white !important;
}
.dropdownMenu:hover {
  background-color: #e3fff5 !important;
  border-radius: 5px;
}

#react-select-2-listbox{
  border: 0px   !important;
}

.css-1xc3v61-indicatorContainer{
  display: none !important;
}

.css-1nmdiq5-menu{
  box-shadow: none !important;
}


/* .checkbox{
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-color:#F9FAFB;
  border:0.5px solid #D1D5DB;
  border-radius: 0.2rem;
}
input[type="checkbox"]{
  appearance: none;
  -webkit-appearance:none ;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="checkbox"]:checked{
  background-color:#84E1BC ;
  content: url('./Checkbox.png');
 
} */